# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\39328\Desktop\Esercitazioni\FormazioneSyncLab\Esercitazione 3.1\Esercizio1A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
